# See https://docs.brew.sh/Manpage#environment

# Homebrew
HOMEBREW_CACHE={{ joinPath .chezmoi.homeDir .xdg.cache "Homebrew" }}
HOMEBREW_COLOR=1
HOMEBREW_CURLRC={{ joinPath .chezmoi.homeDir .xdg.config "curlrc" }}
HOMEBREW_LOGS={{ joinPath .chezmoi.homeDir .xdg.state "Homebrew" "Logs" }}
HOMEBREW_NO_ANALYTICS=1
HOMEBREW_UPGRADE_GREEDY=1
HOMEBREW_VERIFY_ATTESTATIONS=1

# Homebrew Bundle
HOMEBREW_BUNDLE_DESCRIBE=1 # Add descriptive comment for each package in generated Brewfile
HOMEBREW_BUNDLE_USER_CACHE={{ joinPath .chezmoi.homeDir .xdg.cache "Homebrew" "bundler_cache" }} # See https://github.com/Homebrew/brew/pull/17327
HOMEBREW_BUNDLE_INSTALL_CLEANUP=1
